<div class="container">
  <h1>My tasks</h1>
  <ul class="pl-0">
    <% @tasks.each do |task| %>
    <li class="d-flex">
      <%= link_to task do %>
        <% if task.completed === true %>
        <input type="checkbox" aria-label="Checkbox for following text input" checked class="mr-2">
        <% else %>
        <input type="checkbox" aria-label="Checkbox for following text input" class="mr-2">
      <% end %>
      <p><%= task.title %></p>
      <% end %>
    </li>
    <% end %>
  </ul>

</div>

